<div class="viewbox viewbox-photo">
    <div class="viewbox_wrapper">
        <div class="content_mash"></div>

        <div class="viewbox_header">
            <div class="logo-header"></div>
        
            <div class="nav-viewbox">
                <div class="nav_buttons">
                    <div class="nav_button nav_button-prev">
                        <i class="icon"></i>
                        <i class="icon-active"></i>
                    </div>
                    <div class="nav_button nav_button-next">
                        <i class="icon"></i>
                        <i class="icon-active"></i>
                    </div>
                    <div class="nav_button nav_button-close">
                        <i class="icon"></i>
                        <i class="icon-active"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="viewbox_box">
            <div class="progress">
              <div class="progressbar-current"></div>
            </div>
        </div>
    </div>
</div>