<div class="videoviewer">
    <div class="videoviewer_wrapper">

        <div class="logo-header"></div>

        <h2 class="videoviewer_title"></h2>
        
        <div class="nav-videoviewer">
            <div class="nav_buttons">
                <div class="nav_button nav_button-close">
                    <i class="icon"></i>
                    <i class="icon-active"></i>
                </div>
            </div>
        </div>
        
        <div class="videowrapper">
            <div class="videoembed"></div>
        </div>
    </div>
</div>