<div class="viewbox viewbox-video">
    <div class="viewbox_wrapper">

        <div class="logo-header"></div>

        <h2 class="viewbox_title"></h2>
        
        <div class="nav-viewbox">
            <div class="nav_buttons">
                <div class="nav_button nav_button-close">
                    <i class="icon"></i>
                    <i class="icon-active"></i>
                </div>
            </div>
        </div>
        
        <div class="viewbox_box">
            <div class="viewbox_embed"></div>
        </div>
    </div>
</div>