body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #efefef;
}

body {
	font-family: 'Nunito', sans-serif;
	min-width: 720px;
}

* {
    @include box-sizing(border-box);
    position: relative;
}