.table-row {
	display: table-row;
}

.header {
	width: 100%;
	height: $header-height;
	color: $color-font-light;
	background-image: inline-image("noise.png");
	background-color: $color-header-background;
	z-index: 2000;
	position: fixed;
	@include clearfix;
	user-select: none;
}
.logo-header {
	position: relative;
	float: left;
	top: 15px;
	margin-left: $site-margin;
	width: 96px;
	height: 48px;
	vertical-align: middle;
 	background-image: inline-image("svg/mc-la-logo.svg");
 	background-repeat: no-repeat;
 	@include clearfix;
}


.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: $footer-height;
	line-height: $footer-height;
	background-image: inline-image("noise.png");
	background-color: $color-header-background;
	z-index: 3000;
	user-select: none;
}
.soundcloud-container {
	max-width: 50%;
	width: 30%;
	left: 100px;
	top: 100px;
}

.thumbnails {
	position: absolute;
	display: inline-block;
	bottom: 20px;
	left: 20px;
	@include clearfix;
	user-select: none;
}

.thumbnail {
	float: left;
	display: inline-block;
	width: 240px;
	height: 240px;
	padding: 15px;
	font-size: 50%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 20px;
	}
}