.is-scroll-disabled {
    overflow: hidden;
}

.animation-link {
	@include transition-duration(0.3s);
    @include transition-timing-function($ease-out-expo);
}

.hw-accellerate {
    @include transform(translateZ(0));
}

.table-row {
	display: table-row;
}

.header {
	width: 100%;
	height: $header-height;
	color: $color-font-light;
	background-image: inline-image("inline/noise.png");
	background-color: $color-header-background;
	z-index: 2000;
	position: fixed;
	@include clearfix;
	user-select: none;
}
.logo-header {
	position: relative;
	float: left;
	top: 15px;
	margin-left: $site-margin;
	width: 96px;
	height: 48px;
	vertical-align: middle;
 	background-image: inline-image("inline/svg/mc-la-logo.svg");
 	background-repeat: no-repeat;
 	@include clearfix;
    cursor: pointer;
}


.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: $footer-height;
	line-height: $footer-height;
	background-image: inline-image("inline/noise.png");
	background-color: $color-header-background;
	z-index: 3000;
	user-select: none;
}
.footer_voomad {
	display: inline-block;
	float: left;
    margin-bottom: 25px;
    margin-left: $site-margin;
    font-size: 80%;

    .voom-logo {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 64px;
        height: 20px;
        top: 6px;
        line-height: 100000px;
        text-indent: 100000px;
        
        @include retina-image("../images/inline/voom-logo", 64px 20px);
    }
}

.musicplayer {
	width: 642px;
    background: #E5E5E5;

	iframe {
		height: 100%;
	}	
}

.explicit-logo {
	position: absolute;
	right: $site-margin;
	top: 23px;
	width: 50px;
	height: 38px;
	@include retina-image("../images/inline/szokimondo-szovegek", 50px 38px);
    opacity: 0.9;
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-header-background;
    z-index: 9000;
}