.animation-link {
	@include transition-duration(0.3s);
    @include transition-timing-function($ease-out-expo);
}

.hw-accellerate {
    @include transform(translateZ(0));
}

.table-row {
	display: table-row;
}

.header {
	width: 100%;
	height: $header-height;
	color: $color-font-light;
	background-image: inline-image("inline/noise.png");
	background-color: $color-header-background;
	z-index: 2000;
	position: fixed;
	@include clearfix;
	user-select: none;
}
.logo-header {
	position: relative;
	float: left;
	top: 15px;
	margin-left: $site-margin;
	width: 96px;
	height: 48px;
	vertical-align: middle;
 	background-image: inline-image("inline/svg/mc-la-logo.svg");
 	background-repeat: no-repeat;
 	@include clearfix;
}


.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: $footer-height;
	line-height: $footer-height;
	background-image: inline-image("inline/noise.png");
	background-color: $color-header-background;
	z-index: 3000;
	user-select: none;
}
.footer_voomad {
	display: inline-block;
	float: left;
    margin-bottom: 25px;
    margin-left: $site-margin;
    font-size: 80%;

    .voom-logo {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 64px;
        height: 20px;
        top: 5px;
        line-height: 100000px;
        text-indent: 100000px;
        background: url(../images/voom-logo.png) 0 0 no-repeat;
    }
}

.soundcloud-container {
	width: 642px;
	height: 360px;

	iframe {
		height: 100%;
	}	
}

.explicit-logo {
	position: absolute;
	right: $site-margin;
	top: 20px;
	width: 67px;
	height: 40px;
	background: inline-image("inline/svg/parental-explicit.svg");
}