$site-margin: 40px;
$header-height: 80px;
$footer-height: 60px;

$color-font-light: #efefef;
$color-header-background: #050e1b;
$color-link-active: #0fc978;
// $color-link-active: #83B3C3;
$color-thumbnail-background: rgba(5, 14, 27, 0.8);

$hero-logo-size: 360px;
$video-nav-button-size: 42px;
$video-nav-margin: 20px;

$navbar-height: 50px;

$videonav-height: 48px;