.icon {
	position: absolute;
	display: block;
	width: 75%;
	height: 75%;
	top: 12.5%;
	left: 12.5%;
}

.icon-active {
	@extend .icon;

	@include transition-property(opacity);
	@include transition-duration(0.2s);
    @include transition-timing-function($ease-out-quart);
}