@include keyframes(arrow) {
    0% {
        @include transform(translateY(0));
    }
    45% {
        @include transform(translateY(6px));
    }
    100% {
        @include transform(translateY(0));
    }
}

.navbar {
	position: absolute;
	width: 100%;
	height: $navbar-height;
	bottom: 5px;
	z-index: 3;
	cursor: pointer;

	.navbar_button {
		width: 47px;
		height: 20px;
		left: 50%;
		top: 15px;
		margin-left: -24px;
		@include animation(arrow 3s infinite);

		.icon {
			background: inline-image("svg/icon-arrow-down.svg");
			background-size: cover;
			background-repeat: no-repeat;
		}
		.icon-active {
			background: inline-image("svg/icon-arrow-down-active.svg");
			background-size: cover;
			background-repeat: no-repeat;

			opacity: 0;
			visibility: hidden;
		}
	}

	&:hover {
		.icon {
			opacity: 0;
		}
		.icon-active {
			opacity: 1;
			visibility: visible;
		}
	}
}