.nav-primary {
	@extend .nav;
	left: 50px;
	top: 27px;

	.nav_button {
		text-transform: uppercase;
		font-weight: 200;
		font-size: 14px;

		&:not(:last-child) {
			margin-right: 40px;
		}

		a {
			display: block;
			text-align: center;
			height: 100%;
			padding: 4px 10px;
			color: #fff;
			text-decoration: none;
			border: 1px solid #fff;

			&:hover {
				color: $color-header-background;
				background: $color-link-active;
				border-color: $color-link-active;
			}
		}
	}
}