.navbar {
	position: absolute;
	width: 100%;
	height: $navbar-height;
	background: rgba(0, 0, 0, 0.3);
	bottom: 0;
	z-index: 1000;
	cursor: pointer;

	.navbar_button {
		width: 60px;
		height: 100%;
		left: 50%;
		margin-left: -30px;
		background: blue;
	}
}