.nav-video {
	@extend .nav;

	position: absolute;
	bottom: $video-nav-margin;
	right: $site-margin;
	z-index: 4;

	.nav_buttons {
		display: block;
	}

	.nav_button {
		width: $video-nav-button-size;
		height: $video-nav-button-size;
		border: 1px solid #ffffff;
		user-select: none;
		line-height: $video-nav-button-size;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: $video-nav-margin;
		}

		&.nav_button-play {
			.icon {
				background-image: inline-image("inline/svg/icon-media-play.svg");
			}
			.icon-active {
				background-image: inline-image("inline/svg/icon-media-play-active.svg");
			}

			&.is-active {
				.icon {
					background-image: inline-image("inline/svg/icon-media-pause.svg");
				}
				.icon-active {
					background-image: inline-image("inline/svg/icon-media-pause-active.svg");
				}
			}
		}
		&.nav_button-mute {
			.icon {
				background-image: inline-image("inline/svg/icon-media-sound-on.svg");
			}
			.icon-active {
				background-image: inline-image("inline/svg/icon-media-sound-on-active.svg");
			}

			&.is-active {
				.icon {
					background-image: inline-image("inline/svg/icon-media-sound-off.svg");
				}
				.icon-active {
					background-image: inline-image("inline/svg/icon-media-sound-off-active.svg");
				}
			}
		}

		&:hover {
			border-color: transparent;
			background-color: $color-link-active;
		}
	}
}