.thumbnails {
    display: inline-block;
    @include clearfix;
    user-select: none;
}

.thumbnail {
    float: left;
    display: inline-block;
    width: 320px;
    height: 240px;
    font-size: 50%;
    overflow: hidden;
    background: #000;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 2px;
    }

    .thumbnail_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-size: cover;

        @include transform(scale(1) rotateX(0deg));

        @include transition-property(opacity transform);
        @include transition-duration(2.1s);
        @include transition-timing-function($ease-out-quart);
    }

    .thumbnail_title {
        position: absolute;
        width: 100%;
        min-height: 68px;
        padding: 15px 15px 0 15px;
        margin: 0;
        bottom: 0;
        background: $color-thumbnail-background;
        line-height: 18px;
        color: #FFF;

        @include transition-property(color background-color height);
        @include transition-duration(0.2s);
        @include transition-timing-function($ease-out-back);
    }

    .thumbnail_play {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 50%;
        margin-left: -16px;
        bottom: 24px;
        opacity: 0;
        background: $color-link-active;

        @include transform(scale(0.4));
        @include transition-property(opacity transform);
        @include transition-duration(0.21s);
        @include transition-timing-function($ease-out-back);
        
        .icon {
            background: inline-image("inline/svg/icon-media-play-active.svg");
        }
    }

    .thumbnail_zoom {
        position: absolute;
        width: 82px;
        height: 82px;
        left: 50%;
        top: 50%;
        margin-left: -41px;
        margin-top: -41px;
        opacity: 0;
        background: $color-link-active;

        @include transform(scale(0.2));
        @include transition-property(opacity transform);
        @include transition-duration(0.4s);
        @include transition-timing-function($ease-out-back);
        
        .icon {
            background: inline-image("inline/svg/icon-zoom-active.svg");
        }
    }

    &:hover {
        .thumbnail_bg {
            opacity: 0.8;
            @include transform(scale(1.2) rotateZ(1.5deg));
        }

        .thumbnail_title {
            color: $color-link-active;
            min-height: 120px;
        }

        .thumbnail_play {
            opacity: 1;
            @include transform(scale(1));
        }
    }
}

.thumbnails-photos {
    .thumbnail {
        width: 642px;

        .thumbnail_overlay {
            position: absolute;
            width: 100%;
            height: 100%;

            .thumbnail_overlaybg {
                position: absolute;
                width: 100%;
                height: 150%;
                background: $color-thumbnail-background;
                top: 100%;
                @include transition-property(top);
                @include transition-duration(0.3s);
                @include transition-timing-function($ease-out-back);
            }
        }

        &:hover {
            .thumbnail_overlaybg {
                top: 0;
            }

            .thumbnail_zoom {
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }
}