.viewbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color-header-background;
    z-index: 200000;
    overflow: hidden;
    @extend .is-selection-disabled;

    .content_mash {
        z-index: 2;
    }

    .viewbox_wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 0;
    }

    .viewbox_header {
        height: $header-height;
        width: 100%;
        position: absolute;
        z-index: 3;
    }

    .logo-header,
    .nav-viewbox,
    .viewbox_title {
        z-index: 3;
    }
}