.viewbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 200000;
    user-select: none;
    overflow: hidden;

    .viewbox_wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        user-select: none;
        position: absolute;
    }
}